<section class="create-sheet">
  <%= button_to({:controller => 'sheets', :action => 'create'}, :method => 'post', class: 'button create-sheet-button light-weight shadow') do %>
    CREATE A DRA<span class='effs'>ff</span>TR
  <% end %>
    <p class="tagline light-weight text-shadow">
      Fantasy Football Drafting Made Easy
    </p>
    <a href="#learn-more">
      <%= image_tag("down-arrow-white.png", class: "med-image-size", alt: "White Down Arrow Icon") %>
      <p class="white light-weight text-shadow">
        learn more
      </p>
    </a>
</section>
<section id="learn-more">

</section>
