@mixin shadow($x, $y, $blur, $color) {
  -webkit-box-shadow: $x $y $blur $color;
  -moz-box-shadow: $x $y $blur $color;
  box-shadow: $x $y $blur $color;
}

<<<<<<< HEAD
@mixin row-theme() {
  
=======
@mixin logo($fontColor, $fontSize) {
  color: $fontColor;
  font-size: $fontSize;
  display: inline-block;
  .effs {
    font-size: 95%;
    letter-spacing: -0.05em;
    padding-right: 0.1em;
  }
>>>>>>> 1fb2238ea81024b1075bcd78ea8362006d40a6f1
}
