@mixin shadow($x, $y, $blur, $color) {
  box-shadow: $x $y $blur $color;
  -webkit-box-shadow: $x $y $blur $color;
  -moz-box-shadow: $x $y $blur $color;
}

@mixin logo($fontColor, $fontSize) {
  display: inline-block;
  color: $fontColor;
  font-size: $fontSize;
  .effs {
    font-size: 95%;
    letter-spacing: -0.05em;
    padding-right: 0.1em;
  }
}
