@mixin shadow($x, $y, $blur, $color) {
  box-shadow: $x $y $blur $color;
  -webkit-box-shadow: $x $y $blur $color;
  -moz-box-shadow: $x $y $blur $color;
}

@mixin logo($fontColor, $fontSize) {
  display: inline-block;
  color: $fontColor;
  font-size: $fontSize;
  .effs {
    font-size: 95%;
    letter-spacing: -0.05em;
    padding-right: 0.1em;
  }
}

@mixin compatibleTransition($property, $duration) {
  transition: $property $duration;
  -webkit-transition: $property $duration;
  -moz-transition: $property $duration;
}

@mixin alternateBackgroundColor($color1, $color2) {
  background: $color1;
  &:nth-child(2n+0) {
    background: $color2;
  }
}
