@import 'reset';
@import 'variables';
@import 'functions';

html, body {
  min-width: 100%;
}

body {
  font-family: $roboto;
  color: $dark;
}

a {
  color: $dark;
<<<<<<< HEAD
  &:hover {
    text-decoration: none;
  }
}

header {
=======
    text-decoration: none;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
>>>>>>> 1fb2238ea81024b1075bcd78ea8362006d40a6f1
  min-width: 100%;
  height: 54px;
  padding: 10px;
  background: $contrast;
  color: $white;
<<<<<<< HEAD
  h1 {
    font-size: 32px;
    display: inline-block;
=======
  z-index: 1999;
  .bookmark {
    vertical-align: middle;
    background: image-url("important.png") left 15%/17px 17px no-repeat;
    padding-left: 23px;
    height: 20px;
    margin: 0 0 10px 50px;
    cursor: pointer;
  }
  a {
    h1 {
      @include logo($white, 32px);
    }
>>>>>>> 1fb2238ea81024b1075bcd78ea8362006d40a6f1
  }
  .menu-button {
    transition: opacity 1s;
    img {
      height: 34px;
      margin: 0 auto 3px auto;
      cursor: pointer;
    }
    span {
      vertical-align: middle;
      margin: 0 3px 32px 0;
      cursor: pointer;
    }
  }
}

// table styles
.players {
  min-width: 100%;
  height: 100%;
  border-collapse: collapse;
<<<<<<< HEAD
=======
  margin-top: 54px;
>>>>>>> 1fb2238ea81024b1075bcd78ea8362006d40a6f1
  tr {
    min-width: 100%;
    background: $lightGray;
    &:nth-child(2n+0) {
      background: $lightSlate;
    }
  }
  th, td {
    height: 31px;
    padding: 7px;
    border: 1px solid $white;
  }
  thead {
    tr {
<<<<<<< HEAD
      background: $highlight;
=======
      background: $darkHighlight;
>>>>>>> 1fb2238ea81024b1075bcd78ea8362006d40a6f1
      opacity: 0.9;
    }
    th {
      color: $white;
      font-weight: 400;
    }
  }

  .ui-sortable-helper {
    display: table;
  }

  .player-name {
    position: relative;
<<<<<<< HEAD
    background: transparent url('move-dark.png') 95% center/17px 17px no-repeat;
    padding-right: 30px;
    .player-stats {
      padding-right: 20px;
      background: transparent url('bar-chart.png') right center/15px 15px no-repeat;
=======
    background: transparent image-url('move-dark.png') 95% center/17px 17px no-repeat;
    padding-right: 30px;
    .player-stats {
      padding-right: 20px;
      background: transparent image-url('bar-chart.png') right center/15px 15px no-repeat;
>>>>>>> 1fb2238ea81024b1075bcd78ea8362006d40a6f1
      text-decoration: none;
    }
  }
  select {
<<<<<<< HEAD
    background: transparent url('down-arrow.png') right/15px 15px no-repeat;
=======
    background: transparent image-url('down-arrow.png') right/15px 15px no-repeat;
>>>>>>> 1fb2238ea81024b1075bcd78ea8362006d40a6f1
	  -moz-appearance: none;
	  -webkit-appearance: none;
    padding-right: 20px;
    border: none;
    color: inherit;
    font-size: inherit;
    &:focus {
      outline: none;
    }
  }

  .targeted-player {
    background-color: $contrast !important;
    color: $lightGray;
    a {
      color: $lightGray;
    }
    select {
<<<<<<< HEAD
      background-image: url('down-arrow-gray.png');
    }
    .player-name {
      background-image: url('move-white.png');
      .player-stats {
        background-image: url('bar-chart-white.png');
=======
      background-image: image-url('down-arrow-gray.png');
    }
    .player-name {
      background-image: image-url('move-white.png');
      .player-stats {
        background-image: image-url('bar-chart-white.png');
>>>>>>> 1fb2238ea81024b1075bcd78ea8362006d40a6f1
      }
    }
  }
  .drafted-player {
    background-color: $mediumHighlight !important;
    color: $white;
    a {
      color: $white;
    }
    select {
<<<<<<< HEAD
      background-image: url('down-arrow-white.png');
    }
    .player-name {
      background-image: url('move-white.png');
      .player-stats {
        background-image: url('bar-chart-white.png');
=======
      background-image: image-url('down-arrow-white.png');
    }
    .player-name {
      background-image: image-url('move-white.png');
      .player-stats {
        background-image: image-url('bar-chart-white.png');
>>>>>>> 1fb2238ea81024b1075bcd78ea8362006d40a6f1
      }
    }
  }
  .unavailable-player {
    background-color: $slate !important;
    color: $lightGray;
    text-decoration: line-through;
    a {
      color: $lightGray;
      text-decoration: line-through;
    }
    select {
<<<<<<< HEAD
      background-image: url('down-arrow-gray.png');
    }
    .player-name {
      background-image: url('move-white.png');
      .player-stats {
        background-image: url('bar-chart-white.png');
=======
      background-image: image-url('down-arrow-gray.png');
    }
    .player-name {
      background-image: image-url('move-white.png');
      .player-stats {
        background-image: image-url('bar-chart-white.png');
      }
    }
  }
  .stats-container {
    color: $dark;
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
>>>>>>> 1fb2238ea81024b1075bcd78ea8362006d40a6f1
      }
    }
  }
}

#scoring-data {
  position: fixed;
  top: 0;
  bottom: 0;
<<<<<<< HEAD
  right: -250px;
  width: 250px;
=======
  right: -400px;
  width: 400px;
>>>>>>> 1fb2238ea81024b1075bcd78ea8362006d40a6f1
  color: $white;
  background: $highlight;
  opacity: .9;
  padding: 10px 20px 20px;
  z-index: 2000;
  transition: right 500ms;
  -webkit-transition: right 500ms;
  -moz-transition: right 500ms;
  .scoring {
    display: relative;
    margin-left: 20px;
    input[type="text"] {
      position: absolute;
      right: 40px;
      width: 40px;
      border: 0;
      padding: 3px 3px 3px 6px;
    }
    h3 {
      font-size: 36px;
      margin-bottom: 14px;
    }
    label {
      margin-right: 5px;
      line-height: 19px;
    }
    input[type="submit"] {
      width: 120px;
      font-size: 16px;
      background: $white;
      border: 0;
      border-radius: 0;
      @include shadow(2px, 2px, 5px, lighten($dark, 10%));
      transition: background 500ms;
      transition: box-shadow 500ms;
      &:hover {
        @include shadow(0, 0, 0, transparent);
        transition: background 500ms;
        transition: box-shadow 500ms;
      }
    }
    .form-field {
      height: 19px;
      margin-bottom: 8px;
      &:last-of-type {
        margin-bottom: 20px;
      }
    }
  }
  .close-arrow {
    height: 34px;
    margin-bottom: 25px;
  }
  .img {
    cursor: pointer;
  }
}

.scroll-to-top {
  height: 50px;
  width: 50px;
  position: fixed;
<<<<<<< HEAD
  bottom: 50px;
  right: 50px;
=======
  bottom: 100px;
  left: 50%;
  margin-left: -25px;
>>>>>>> 1fb2238ea81024b1075bcd78ea8362006d40a6f1
  img {
    height: 50px;
    width: 50px;
    opacity: 0.4;
    filter: drop-shadow(1px 1px 3px darken($slate, 30%));
    -webkit-filter: drop-shadow(1px 1px 3px darken($slate, 30%));
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    &:hover {
      opacity: 0.9;
      transition: opacity 1s;
      -webkit-transition: opacity 1s;
      -moz-transition: opacity 1s;
    }
  }
}

.alert-message {
  position: absolute;
  color: $white;
  background: $lightContrast;
  opacity: .8;
  padding: 5px 7px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 500ms;
}

.drafted-players {
  min-height: 400px;
  width: 300px;
  position: fixed;
  top: 200px;
  right: 100px;
  line-height: 20px;
  padding: 20px;
  background: $white;
  opacity: .9;
  z-index: 1999;
  ul {
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }
  h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
}

.stats-container {
  position: absolute;
  left: 10%;
  border: solid white 10px;
  background: white;
  z-index: 1000;
  .stats-header {
    margin-bottom: 5px;
    h3 {
      font-size: 40px;
      display: inline-block;
    }
    .player-pic {
      height: 60px;
      margin-right: 10px;
    }
    .rotowire {
      position: absolute;
      right: 0;
      top: 46px;
      color: $dark;
      font-size: 16px;
      padding-left: 20px;
<<<<<<< HEAD
      background: transparent url("news-icon.png") left center/15px 15px no-repeat;
=======
      background: transparent image-url("news-icon.png") left center/15px 15px no-repeat;
>>>>>>> 1fb2238ea81024b1075bcd78ea8362006d40a6f1
    }
  }
  .projections {
    background: $lightContrast;
    color: $white;
  }
}

<<<<<<< HEAD
=======
.create-sheet {
  background: $lightContrast image-url("football-practice.jpg") right top no-repeat;
  width: 100%;
  background-size: cover;
  height: 100vh;
  padding-top: 165px;
  text-align: center;
  .create-sheet-button {
    @include logo($contrast, 32px);
    padding: 20px 30px;
    margin: 0 0 70px;
  }
  .tagline {
    color: $white;
    font-size: 24px;
    margin: 0 0 235px;
  }
}
#learn-more {
  background: $dark;
  height: 100vh;
}

.button {
  color: $contrast;
  background: $white;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: box-shadow 500ms;
  &:hover {
    @include shadow(0, 0, 0, transparent);
    transition: box-shadow 500ms;
  }
}
>>>>>>> 1fb2238ea81024b1075bcd78ea8362006d40a6f1
.hide {
  display: none;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.light-weight {
  font-weight: 300;
}
.normal-weight {
  font-weight: 400;
}
.heavy-weight {
  font-weight: 700;
}
.italicize {
  font-style: italic;
}
.shadow {
<<<<<<< HEAD
  -webkit-box-shadow: 2px 2px 10px $dark;
  -moz-box-shadow: 2px 2px 10px $dark;
  box-shadow: 2px 2px 10px $dark;
=======
  @include shadow(2px, 2px, 5px, darken($highlight, 50%));
}
.text-shadow {
  text-shadow: 2px 2px 4px darken($highlight, 50%);
>>>>>>> 1fb2238ea81024b1075bcd78ea8362006d40a6f1
}
.text-center {
  text-align: center;
}
.highlight {
  color: $highlight;
}
<<<<<<< HEAD
.right {
  float: right;
}
=======
.white {
  color: $white;
}
.right {
  float: right;
}
.med-image-size {
  width: 50px;
  filter: drop-shadow(1px 1px 3px $darkSlate);
  -webkit-filter: drop-shadow(1px 1px 3px $darkSlate);
  margin-bottom: 5px;
}
>>>>>>> 1fb2238ea81024b1075bcd78ea8362006d40a6f1
.clearfix {
  overflow: hidden;
  zoom: 1;
}
